# Binaires compilés et fichiers temporaires
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
code.json

# Dépendances
/vendor/
/docs/api/

# Fichiers de configuration d'IDE
.idea/
.vscode/

# Fichiers de log
*.log
